{% extends "admin/base_site.html" %}
{% load adminmedia admin_list i18n %}

{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/forms.css" />
    <link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/changelists.css" />
{% endblock %}

{% block extrahead %}
    <script type="text/javascript" src="{% url admin:jsi18n %}"></script>
    <script type="text/javascript" src="{% admin_media_prefix %}js/core.js"></script>
    <script type="text/javascript" src="{% admin_media_prefix %}js/calendar.js"></script>
    <script type="text/javascript" src="{% admin_media_prefix %}js/admin/DateTimeShortcuts.js"></script>
{% endblock %}

{% block bodyclass %}change-list{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
     <a href="/admin/">{% trans "Home" %}</a> &rsaquo;
     <a href="{% url reports-list %}">{% trans "Reports" %}</a> &rsaquo;
     {{report.verbose_name}}
</div>
{% endblock %}


{% block content %}
  <div id="content-main">
    {% block object-tools %}{% endblock %}

    {% block description %}
    {% if report.description %}
    <h3>{% trans "Description" %}</h3>
    <div id="description">{{ report.description }}</div>
    {% endif %}
    {% endblock %}

    {% block filters %}
    <h3>{% trans "Filters" %}</h3>
    <div id="filters">
        <form action="." method="POST">{% csrf_token %}
        <table>
        {{ filter_form.as_table }}
        </table>
        <input type="submit" value="{% trans 'Request Report' %}" />
        </form>
    </div>
    {% endblock %}
    
    {% block requested_reports %}
    <h3>{% trans "Previously Requested Reports" %}</h3>
    <table>
        <thead>
            <tr>
                <th>{% trans "Request Time" %}</th>
                <th>{% trans "Completion Time" %}</th>
                <th>{% trans "Params" %}</th>
                <th>{% trans "Link" %}</th>
                <th>{% trans "Status" %}</th>
            </tr>
        </thead>
        <tbody>
        {% for report_request in requested_reports %}
        <tr>
            <td>{{report_request.request_made}}</td>
            <td>{{report_request.completion_timestamp}}</td>
            <td>{{report_request.params}}</td>
            <td><a href="{{report_request.get_absolute_url}}">{% trans "View Report" %}</a></td>
            <td>{{report_request.task_status}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endblock %}
</div>
{% endblock %}
